# Books Entity Relationship Diagram
Author: Kim Hazed Delfino

## Part 1 - ER Diagram

![png]('C:\Users\kdelfino\Documents\GitHub\books_ERD\books_model.png')

## Part 2 - Create Database

### Imports

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [2]:
# login credentials for mysql
import os 
import sys

sys.path.insert(0,r"C:\Users\kdelfino\Documents")
from secret import credentials

In [3]:
# Assign credentials
username = credentials.mysql_creds()['user']
password = credentials.mysql_creds()['password']

import success
import success

In [8]:
# Set Connection and Engine
connection = f"mysql+pymysql://{username}:{urlquote(password)}@localhost/books_ERD"
engine = create_engine(connection)

In [9]:
# Check if database exists
if database_exists(connection):
    print("It exist")
else:
    create_database(connection)
    print('Database created')

Database created

In [12]:
# Import Datasets
users_url = "https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users"

books_url = "https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books"

authors_url = "https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors"

favorites_url = "https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite"

In [13]:
# Create DataFrame
user_df = pd.read_csv(users_url)

books_df = pd.read_csv(books_url)

authors_df = pd.read_csv(authors_url)

favorites_df = pd.read_csv(favorites_url)

In [14]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

In [25]:
# Save dataframe to SQL.
user_df.to_sql("user.sql",con=engine)

books_df.to_sql("books.sql",con=engine)

authors_df.to_sql("authors.sql",con=engine)

favorites_df.to_sql("favorites.sql",con=engine)

7

In [26]:
query = '''SHOW TABLES'''
pd.read_sql(query,engine)

  Tables_in_books_erd
0         authors.sql
1           books.sql
2       favorites.sql
3            user.sql